/* 
    Put width at max 800 px in the middle of the page
    Ref: https://stackoverflow.com/a/22086429
*/
.text-section {
    max-width: 800px;
    margin: 0 auto;
}

.text-section .example {
    max-width: 780px;
    margin: 0 auto;
}